<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="class-management" role="tabpanel" aria-labelledby="class-management-tab">
    <div class="tab-title">
      <p>權限管理</p>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="createAccount col">
          <h5>創建帳號</h5>
          <hr>

          <div class="createAccount-row">
            <label class="newAccount" for="newAccount">帳號：</label>
            <input type="text" [(ngModel)]="newAccount">
          </div>

          <div class="createAccount-row">
            <label class="newAccount" for="newPassword">密碼：</label>
            <input type="password" [(ngModel)]="newPassword">
          </div>

          <div class="createAccount-row">
            <label class="newAccount" for="confirmPassword">再次確認密碼：</label>
            <input type="password" [(ngModel)]="confirmPassword">
          </div>

          <div class="createAccount-row">
            <label class="newAccount" for="userName">姓名：</label>
            <input type="text" [(ngModel)]="userName">
          </div>

          <div class="createAccount-row">
            <label class="newAccount" for="userPhone">電話：</label>
            <input type="text" [(ngModel)]="userPhone">
          </div>

          <div class="createAccount-row">
            <label class="newAccount" for="userPermission">權限：</label>
            <select [(ngModel)]="userPermission">
              <option value="1">權限1</option>
              <option value="2">權限2</option>
            </select>
          </div>

          <div class="submit-button">
            <button class="storeBtn" (click)="addNewAccount()">創建</button>
          </div>
        </div>
        <div class="permissions col">
          <h5>設定權限</h5>
          <hr>
          <div class="teacher-selection">
            <label for="teacher-select">選擇老師：</label>
            <select id="teacher-select" name="teacher" (change)="updatePermissions($event)">
              <option value="">請選擇老師</option>
              <option *ngFor="let item of staff" [value]="item.staffid">{{ item.staffname }}</option>
            </select>
          </div>
          <div class="permissions-row">
            <label for="permission1">權限 1</label><br>
            <label class="switch">
              <input type="checkbox" id="permission1" name="permission" value="1" *ngIf="selectedStaff"
                [checked]="selectedStaff.permissions.includes('1')" (change)="updatePermission('1')">
              <span class="slider round"></span>
            </label>
          </div>
          <div class="permissions-row">
            <label for="permission2">權限 2</label><br>
            <label class="switch">
              <input type="checkbox" id="permission2" name="permission" value="2" *ngIf="selectedStaff"
                [checked]="selectedStaff.permissions.includes('2')" (change)="updatePermission('2')">
              <span class="slider round"></span>
            </label>
          </div>


          <div class="submit-button">
            <button class="storeBtn" type="submit" (click)="storePermission()">儲存</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="deleteAccount col">
          <h5>刪除帳號</h5>
          <hr>

          <div class="teacher-selection">
            <label for="teacher-select">選擇老師：</label>
            <select id="teacher-select" [(ngModel)]="selectedStaffId">
              <option *ngFor="let item of staff" [value]="item.staffid">{{ item.staffname }}</option>
            </select>
          </div>

          <div class="submit-button">
            <button class="deleteBtn" (click)="deleteAccount(selectedStaffId)">刪除</button>
          </div>
        </div>

        <div class="col">
        </div>
      </div>



    </div>
  </div>
</div>
