<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<!-- 引入DataTables的CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


<div class="body">
  <div class="sidebar">
    <div class="align-items-start">
      <div class="nav flex-column nav-pills meun" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a [routerLink]="['/Interface']" class="menu-item active" id="v-pills-home-tab"><span
            class="home">Home</span></a>

        <hr class="hr-bold">

        <a [routerLink]="['/Interface/Class']" routerLinkActive="router-link-active" class="nav-link menu-item"
          id="class-management-tab" data-bs-target="#class-management" role="tab"
          [class.active]="setActiveClass('/Interface/Class')">班級管理</a>

        <a [routerLink]="['/Interface/Staff']" class="nav-link menu-item" id="supplier-tab" data-bs-target="#supplier"
          role="tab" [class.active]="setActiveClass('/Interface/Staff')">職員資料</a>

        <a [routerLink]="['/Interface/Supplier']" class="nav-link menu-item" id="supplier-tab"
          data-bs-target="#supplier" role="tab" [class.active]="setActiveClass('/Interface/Supplier')">合作廠商</a>

        <a [routerLink]="['/Interface/Material']" class="nav-link menu-item" id="supplier-tab"
          data-bs-target="#supplier" role="tab" [class.active]="setActiveClass('/Interface/Material')">物料查詢</a>

        <a *ngIf="cookieService.get('permissions') === 'true'" [routerLink]="['/Interface/permissions']"
          class="nav-link menu-item" id="authority-management-tab" data-bs-target="#authority-management" role="tab"
          [class.active]="setActiveClass('/Interface/permissions')">帳號／權限管理</a>

      </div>

      <div class="nav flex-column nav-pills meun">
        <a class="nav-link menu-item sign-out" (click)="logout()">登出</a>
      </div>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>



</div>




<!-- 引入jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 引入DataTables的JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>

  //class編輯按鈕
  function loadContent(pageUrl) {
    fetch(pageUrl).then(function (response) {
      return response.text();
    })
      .then(function (data) {
        document.querySelector('.content').innerHTML = data;
        $('#example').DataTable();
        let editButtons = document.querySelectorAll('.classEditBtn');
        editButtons.forEach(function (button) {
          button.addEventListener('click', function () {
            let cardContent = this.closest('.card-content');
            let inputs = cardContent.querySelectorAll('input');

            inputs.forEach(function (input) {
              input.readOnly = !input.readOnly;
            });
          });
        });

        updateTotalPeople();
      })
      .catch(function (error) {
        console.error('Error loading ' + pageUrl + ':', error);
      });
  }


  //  計算人數
  function updateTotalPeople() {
    let editButtons = document.querySelectorAll('.classEditBtn');

    editButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        let cardContent = this.closest('.card-content');
        let inputs = cardContent.querySelectorAll('input');
        let totalPeopleSpan = cardContent.querySelector('.totalPeople');
        let total = 0;

        inputs.forEach(function (input) {
          total += parseInt(input.value) || 0;
        });

        totalPeopleSpan.textContent = total;
      });
    });
  }

</script>
