.tab-title {
  font-size: xx-large;
  font-weight: bold;
}

.tab-content {
  width: 100%;
}

.tab-pane {
  width: 100%;
}

.Tables {
  margin-top: 20px;
}

.tableBtn {
  justify-content: flex-end;
  display: flex;
}

.Tables button,
.addNewBtn,
.editBtn,
.deleteBtn {
  margin-left: 5px;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.editBtn,
.addNewBtn {
  background: linear-gradient(to bottom, #77dd77a8, #55aa55a8);
}

.editBtn:hover,
.addNewBtn:hover {
  background: linear-gradient(to bottom, #55aa55a8, #77dd77a8);
}

.editBtn:active,
.addNewBtn:active {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.deleteBtn {
  background: linear-gradient(to bottom, #ff6666a8, #cc3333a8);
}

.deleteBtn:hover {
  background: linear-gradient(to bottom, #cc3333a8, #ff6666a8);
}

.deleteBtn:active {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}



