.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.addSupplier-row {
    padding: 10px;
}

.addSupplier-col {
    display: flex;
}

.addSupplier {
    font-size: 20px;
    font-weight: bold;
    padding: 35px;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 980px;
}

label {
    display: flex;
    width: 200px;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
}


input[readonly] {
    background-color: #e6e5e5;
    color: #000000;
}

input {
    border-radius: 5px;
    border: 1px solid;
}

.addSupplierBtn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 15px;
}


button {
    margin-left: 5px;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.addBtn {
    background: linear-gradient(to bottom, #77dd77a8, #55aa55a8);
}

.addBtn:hover {
    background: linear-gradient(to bottom, #55aa55a8, #77dd77a8);
}

.addBtn:active {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.deleteBtn {
    background: linear-gradient(to bottom, #ff6666a8, #cc3333a8);
}

.deleteBtn:hover {
    background: linear-gradient(to bottom, #cc3333a8, #ff6666a8);
}

.deleteBtn:active {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}
