.tab-title {
    font-size: xx-large;
    font-weight: bold;
}


.tab-content {
    width: 100%;
}

h5 {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}


.submit-button button {
    margin-left: 5px;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.archiveBtn {
    background: linear-gradient(to bottom, #77dd77a8, #55aa55a8);
}

.archiveBtn:hover {
    background: linear-gradient(to bottom, #55aa55a8, #77dd77a8);
}

.archiveBtn:active {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}