
<div class="content">
  <div class="addSupplier">
      <div class="title">
          <p>新增商品</p>
      </div>
      <hr>
      <div>
          <div class="addSupplier-row">
              <div class="addSupplier-col">
                  <label for="">廠商名稱：</label>
                  <input type="text" [(ngModel)]="product.vendorName">
              </div>
          </div>
          <div class="addSupplier-row">
              <div class="addSupplier-col">
                  <label for="">種類：</label>
                  <input type="text" [(ngModel)]="product.productCategory">
              </div>
          </div>
          <div class="addSupplier-row">
              <div class="addSupplier-col">
                  <label for="">商品名稱：</label>
                  <input type="text" [(ngModel)]="product.productName">
              </div>
          </div>
          <div class="addSupplier-row">
              <div class="addSupplier-col">
                  <label for="">編號：</label>
                  <input type="text" [(ngModel)]="product.productModel">
              </div>
          </div>
          <div class="addSupplier-row">
              <div class="addSupplier-col">
                  <label for="">單位：</label>
                  <input type="text" [(ngModel)]="product.productUnit">
              </div>
          </div>
          <div class="addSupplier-row">
              <div class="addSupplier-col">
                  <label for="">備註：</label>
                  <input type="text" [(ngModel)]="product.productRemarks">
              </div>
          </div>
      </div>
      <div class="addSupplierBtn">
          <a href="./Interface/Material" class="deleteBtn">取消</a>
          <a class="addBtn" (click)="addProduct()">確認</a>
      </div>
  </div>
</div>
