
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="class-management" role="tabpanel"
      aria-labelledby="class-management-tab">
      <div class="tab-title">
          <p>物料管理</p>
      </div>
      <hr>

      <div>
          <a [routerLink]="['/Interface/addNewMaterial']" routerLinkActive="router-link-active"   class="addNewBtn">新增</a>
      </div>

      <div class="Tables">
          <table id="example" class="display" style="width:100%">
              <!-- <thead>
                  <tr>
                      <th>廠商</th>
                      <th>商品種類</th>
                      <th>商品名稱</th>
                      <th>商品型號</th>
                      <th>單位</th>
                      <th>備註(詳細規格)</th>
                      <th></th>
              </thead>
              <tbody>
                  <tr>
                      <td>協榮</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                          <div class="tableBtn">
                              <a class="editBtn">編輯</a>
                              <a class="deleteBtn">刪除</a>
                          </div>
                      </td>
                  </tr>
              </tbody> -->
          </table>
      </div>
  </div>
</div>
