<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="class-management" role="tabpanel" aria-labelledby="class-management-tab">
    <div class="tab-title">
      <p>職員資料</p>
    </div>
    <hr>
    <div class="classCards">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of staff">
          <div class="card h-100">
            <div class="card-content">

              <div class="centered-image">
                <img *ngIf="!item.imageUrl" src="{{item.image}}" alt="Placeholder Image">
                <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="Uploaded Image">

                <form *ngIf="item.isEdit" (submit)="onSubmit(item)">
                  <label class="custom-file-upload">
                    <input id="fileInput" type="file" (change)="onFileSelected($event, item)">
                    選擇圖片
                  </label>

                  <button type="submit" class="custom-file-upload">上傳圖片</button>
                </form>

                <p *ngIf="!item.isEdit">{{item.staffname}}</p>
                <input *ngIf="item.isEdit" type="text" [(ngModel)]="item.staffname">
              </div>


              <hr>
              <div class="classData">
                <div class="classRow">
                  <label for="">員工編號：</label>
                  <span>{{item.staffid}}</span>
                </div>
                <div class="classRow">
                  <label for="">連絡電話：</label>
                  <span *ngIf="!item.isEdit">{{item.contactnumber}}</span>
                  <input *ngIf="item.isEdit" type="text" [(ngModel)]="item.contactnumber">
                </div>
                <div class="classRow">
                  <label for="">E-mail：</label>
                  <span *ngIf="!item.isEdit">{{item.email}}</span>
                  <input *ngIf="item.isEdit" type="text" [(ngModel)]="item.email">
                </div>
                <div class="classBtn">
                  <button *ngIf="!item.isEdit" class="classEditBtn" (click)="startEditing(item)">編輯</button>
                  <button *ngIf="item.isEdit" class="classEditBtn" (click)="updateStaffData(item)">保存</button>
                  <button *ngIf="item.isEdit" class="cancelBtn" (click)="cancelUpdate(item)">取消</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
