.tab-title {
  font-size: xx-large;
  font-weight: bold;
}

.card {
  max-width: 350px;
  width: 100%;
  border-radius: 0.5rem;
}

.tab-content {
  width: 100%;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classRow {
  max-width: 100%;
  display: flex;
  padding: 10px 0;
}


label {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}


.card-content hr {
  margin: 0;
}

.classData {
  padding: 10px;
}




.centered-image {
  text-align: center;
  padding: 15px;
}

.centered-image img {
  border: solid 1px black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

p{
  margin: 0;
  padding-top: 10px;
  font-weight: bolder;
  font-size: x-large;
}


.cancelBtn{
  background: linear-gradient(to bottom, #96c2faa8, #1f87e9a8);
}

.cancelBtn:hover{
  background: linear-gradient(to bottom, #1f87e9a8, #96c2faa8);
}



.classEditBtn {
  background: linear-gradient(to bottom, #77dd77a8, #55aa55a8);
}

.classEditBtn:hover {
  background: linear-gradient(to bottom, #55aa55a8, #77dd77a8);
}


button:active {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3) !important;
}

.classBtn {
  justify-content: flex-end;
  display: flex;
  padding: 10px;
}

.classBtn button {
  margin-left: 5px;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
























.custom-file-upload input[type="file"]{
  display: none;
}

.custom-file-upload {
  border: 1px solid #a1a0a0;
  display: inline-block;
  padding: 3px;
  width: auto;
  background-color: #fff;
  margin: 3px;
  border-radius: 5px;
}

.custom-file-upload:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}



.custom-file-upload input[type="file"],
.custom-file-upload button {
  display: none;
}

.custom-file-upload label,
.custom-file-upload button {
  display: inline-block;
  padding: 6px ;
  margin: 4px;
  cursor: pointer;
  background-color: #ffffff;
}

.custom-file-upload:hover label,
.custom-file-upload:hover button {
  background-color: #f0f0f0;
}
