<div class="content">
  <div class="addSupplier">
    <div class="title">
      <p>新增廠商</p>
    </div>
    <hr>
    <div>
      <div class="addSupplier-row">
        <div class="addSupplier-col">
          <label for="supplierName">廠商名稱：</label>
          <input type="text" id="supplierName" [(ngModel)]="supplier.supplierName">
        </div>
      </div>
      <div class="addSupplier-row">
        <div class="addSupplier-col">
          <label for="supplierAddress">廠商類型：</label>
          <select id="supplierAddress" [(ngModel)]="supplier.supplierType">
            <option value="實體店家">實體店家</option>
            <option value="電商">電商</option>
          </select>
        </div>
      </div>
      <div class="addSupplier-row">
        <div class="addSupplier-col">
          <label for="supplierAddress">地址：</label>
          <input type="text" id="supplierAddress" [(ngModel)]="supplier.supplierAddress">
        </div>
      </div>
      <div class="addSupplier-row">
        <div class="addSupplier-col">
          <label for="supplierPhone">電話：</label>
          <input type="text" id="supplierPhone" [(ngModel)]="supplier.supplierPhone">
        </div>
      </div>
      <div class="addSupplier-row">
        <div class="addSupplier-col">
          <label for="taxId">統編：</label>
          <input type="text" id="taxId" [(ngModel)]="supplier.taxId">
        </div>
      </div>
      <div class="addSupplier-row">
        <div class="addSupplier-col">
          <label for="supplierRemarks">備註：</label>
          <input type="text" id="supplierRemarks" [(ngModel)]="supplier.supplierRemarks">
        </div>
      </div>
    </div>
    <div class="addSupplierBtn">
      <a href="./Interface/Supplier" class="deleteBtn">取消</a>
      <a class="addBtn" (click)="addSupplier()">確認</a>
    </div>
  </div>
</div>
